<!-- <table>
    <tr>
        <th>Pokemon</th>
        <th>Type</th>
        <th>Description</th>
    </tr>

<tbody>
    <tr>
        <td><a href="https://cdn.bulbagarden.net/upload/2/21/001Bulbasaur.png">Bulbasaur</a></td>
        <td>Grass</td>
        <td>A strange seed was planted on its back at birth. The plant sprouts and grows with this Pokémon.</td>
    </tr>

    
</tbody>

</table> -->

<%- include('partials/header') %>

<h1>Hi</h1>


<form action="/pokemon" method="post">
    <h2>New Pokemon</h2>
    <label for="Pokemon">
      Pokemon:
      <input type="text" name="pokemon">
    </label>
    <label for="Type">
      Description:
      <textarea description="description" cols="30" rows="10">
        </textarea>
    </label>
    <button type="submit">Create</button>
  </form>