

<%- include('partials/header') %>

<form action="/pokemon" method="get">
    <h2>Get pokemon (You have to click it a couple of times)</h2>
    <button type="submit"><a href="/pokemon">Show All the Pokemon</a></button>
    
</form>

<%- include('partials/create') %>