<table>
    <tr>
        <th>Pokemon</th>
        <th>Type</th>
        <th>Description</th>
    </tr>

<tbody>
    <tr>
        <td><a href="https://cdn.bulbagarden.net/upload/2/21/001Bulbasaur.png">Bulbasaur</a></td>
        <td>Grass</td>
        <td>A strange seed was planted on its back at birth. The plant sprouts and grows with this Pokémon.</td>
    </tr>

    
</tbody>

</table>

