<%- include('partials/header') %>
 
<h4><a href="/">Homepage</a></h4>

<div class="showAllPokemon">
    <form action="/pokemon" method="get">
        <% data.forEach(pokemon => {%>
            <%=pokemon.id%>
            <%=pokemon.name%>
            <%=pokemon.description%>
            <br>
            <%})%>
        
      </form>
</div>